<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="delete.css" type="text/css">
</head>
<body>
    <div class="container">
        <img src="/updates/Pfp.jpeg" class="image"> 
        <div class="userInfo">
            <h1>Username: <%= user.username %></h1><button>Edit Username</button>
            <p>Email: <%= user.email %></p>
            <h2 style="color: red"><%= user.info %></h2>
            <button><a href="/update">Edit Profile Info</a></button>
            <button><a href="/update2">Add a profile picture</a></button>
        </div>
    </div>
    
</body>
</html>